body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.img-fluid{
   width: 100%;
   background-size: cover;
}
.container h1 {
    position: absolute;
    top: 80%;
    left: 35%;
    font-size: 50px;
    color: white;
    font-weight: bold;
   
}
.aaa{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    width: 90%;
    height: 15%;
    margin-top: 20px;
    background-color: rgba(194, 194, 221, 0.817);
    
}
.ppp{
    
    font-size: 15px;
}
.ccc i{
    display: flex;
    justify-content: space-between;
    color: green;
    font-size: 20px;
}
.ccc h3{
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
    color: green;
}